{% include 'header.html'%}
<!-- end #menu -->
<div id="page">
    <div id="page-bgtop">
        <div id="page-bgbtm">
            <div id="page-content">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Admin Login</a></h2>
                        <form action="/admindashboard" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <hr>
                            Username <input type="text" name="txtname">
                            <br><br>
                            Password <input type="password" name="txtpassword">
                            <br><br><br>

                            <input type="submit" name="login" class="btn btn-success">
                            <hr>
                            <font color="red">{{message}}</font>

                        </form>
                    </div>


                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->
                <div id="sidebar">
                    <ul>
                        <li>
                            <h2>Notice</h2>
                            <p>HR ERP System for managing employee records quickly and efficiently.</p>
                        </li>
                        <li>
                            <h2>Categories</h2>
                            <ul>
                                <li><a href="/adminLogin">Admin Login</a></li>
                                <li><a href="#">Employee Management</a></li>
                                <li><a href="#">Employee Registration</a></li>
                                <li><a href="#">Employee Search</a></li>
                                <li><a href="#">Employee Update</a></li>
                                <li><a href="#">Employee Records</a></li>
                            </ul>
                        </li>

                        <li>
                            <h2>System Info</h2>
                            <ul>
                                <li><a href="#">HR ERP System</a></li>
                                <li><a href="#">Version 1.0</a></li>
                                <li><a href="#">Flask Web Application</a></li>
                                <li><a href="#">MongoDB Database</a></li>
                                <li><a href="#">Employee Management</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- end #sidebar -->
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
</div>
<!-- end #page -->
</div>
<div id="footer">
    <p>
        Copyright © 2025 Tech Company. All rights reserved. Designed by Tech Company.
    </p>
</div>
<!-- end #footer -->
</body>
</html>

<!-- end #footer -->
</body>
</html>
