{% include 'admin_header.html'%}
<!-- end #menu -->
<div id="page">
    <div id="page-bgtop">
        <div id="page-bgbtm">
            <div id="page-content">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Error!</a></h2>
                        <ul>
                            {% for error in errors %}
                            <li style="color: red;">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        <a href="/adminaddemployee" class="btn btn-primary">Go Back</a>
                    </div>

                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->
                <div id="sidebar">
                    <ul>
                        <li>
                            <h2>Dashboard</h2>
                            <center>
                                <img src="/static/images/admin_icon.png" alt="Admin Icon" width="100px">
                                <br>
                                <b>{{session["name"]}}</b>
                            </center>
                        </li>
                        <li>
                            <h2>Quick Links</h2>
                            <ul>
                                <li><a href="/admindashboard">Admin Dashboard</a></li>
                                <li><a href="/adminaddemployee">Add Employee</a></li>
                                <li><a href="/adminshowemployee">View Employees</a></li>
                                <li><a href="/adminSearchemployee">Search Employee</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <li>

                        </li>
                        <li>
                            <h2>System Info</h2>
                            <ul>
                                <li><a href="#">HR ERP System</a></li>
                                <li><a href="#">Version 1.0</a></li>
                                <li><a href="#">Flask Web Application</a></li>
                                <li><a href="#">MongoDB Database</a></li>
                                <li><a href="#">Employee Management</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- end #sidebar -->
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
</div>
<!-- end #page -->
</div>
<div id="footer">
    <p>Copyright © 2025 Tech Company. All rights reserved. Designed by Tech Company.</p>
</div>
<!-- end #footer -->
</body>
</html>